*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

li,a{
    font-size: Large;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px;
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a{
    transition: all 0.3s ease 0s;
}