<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layui.css" media="all">
    <title>Page3</title>
    <style>
        /* 样式可以根据需要自定义 */
        nav {
            background-color: #333;
            overflow: hidden;
        }

        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 30px 50px;
            text-decoration: none;
        }

        nav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* 用于示例页面的样式 */
        .page-content {
            padding: 20px;
        }

        h2 {
            color: #333;
        }

        p {
            color: #666;
        }

        *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px;
}

.nav_link{
    height: 100px;
    list-style: none;
}

.nav_link {
    display: flex; /* 使用 flex 布局 */
    justify-content: flex-start; /* 水平等间距对齐 */
    align-items: center; /* 垂直居中对齐 */
}

.nav_link li a{
    transition: all 0.3s ease 0s;
}

.layui-input-block {
    width: auto; /* 修改为自适应宽度 */
}


    .nav_link li button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 30px 30px;
        font: inherit;
        font-size: 25px;
        color: #ddd; /* 使按钮颜色与文本颜色一致 */
    }


    .nav_link li button:hover {
        color: black; /* 悬停时改变按钮颜色 */
    }

    </style>
</head>
<body>

<nav>
    <ul class="nav_link">
        <li>
            <a href="/ToPrice">
                <button type="submit" style="border:none; background-color:transparent;">价格输入</button>
            </a>>
        </li>
        <li>
            <a href="/ToStatus">
                <button type="submit" style="border:none; background-color:transparent;">状态节点</button>
            </a>
        </li>
        <li>
            <a href="/ToTask">
                <button type="submit" style="border:none; background-color:transparent;">任务节点</button>
            </a>>
        </li>
    </ul>
</nav>


<div class="layui-bg-gray" style="padding: 30px;">
    <div class="layui-panel">
        <div class="layui-font-24">
            <div style="padding: 40px 25px;margin-inside: 20px;">步骤三：任务节点输入</div>
        </div>
    </div>

    <div class="layui-panel" style="width: 90%;height: 70%;margin: 20px auto;padding: 30px;overflow: auto">
        <form class="layui-form" action="/TableData" style="margin-top: 30px; margin-bottom: 30px" method="POST">
        <table class="layui-table" lay-size="lg" style="border-collapse: collapse; border: 2px solid black;">
            <colgroup>
                <col width="150">
                <col width="200">
                <col width="200">
                <col width="200">
                <col width="200">
                <col width="200">
            </colgroup>
            <thead>
                <tr style="border: 2px solid black;">
                    <th >设备名称</th>
                    <th>任务名称</th>
                    <th>运行工况</th>
                    <th>原料消耗率</th>
                    <th>产品产率</th>
                    <th>消耗电功率</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3">生料磨</td>
                    <td rowspan="3">生料磨制</td>
                    <td>0</td>
                    <td><input type="number"
                           name="TableT10C" value="{{ Table[0].TableT10C }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT10G" value="{{ Table[0].TableT10G }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT10P" value="{{ Table[0].TableT10P }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><input type="number"
                           name="TableT11C" value="{{ Table[0].TableT11C }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT11G" value="{{ Table[0].TableT11G }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT11P" value="{{ Table[0].TableT11P }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="number"
                           name="TableT12C" value="{{ Table[0].TableT12C }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT12G" value="{{ Table[0].TableT12G }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT12P" value="{{ Table[0].TableT12P }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                </tr>
                <tr style="border: 2px solid black;">
                    <td>回转窑</td>
                    <td>煅烧</td>
                    <td>0</td>
                    <td><input type="number"
                           name="TableT20C" value="{{ Table[0].TableT20C }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT20G" value="{{ Table[0].TableT20G }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT20P" value="{{ Table[0].TableT20P }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                </tr>
                <tr>
                    <td rowspan="3">水泥磨</td> <!-- 设置 rowspan 为 3 -->
                    <td rowspan="3">熟料磨制</td>
                    <td>0</td>
                    <td><input type="number"
                           name="TableT30C"
                               value="{{ Table[0].TableT30C }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT30G"
                               value="{{ Table[0].TableT30G }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT30P"
                               value="{{ Table[0].TableT30P }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><input type="number"
                           name="TableT31C" value="{{ Table[0].TableT31C }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT31G" value="{{ Table[0].TableT31G }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT31P" value="{{ Table[0].TableT31P }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="number"
                           name="TableT32C" value="{{ Table[0].TableT32C }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT32G" value="{{ Table[0].TableT32G }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                    <td><input type="number"
                           name="TableT32P" value="{{ Table[0].TableT32P }}" required  lay-verify="required" autocomplete="off" class="layui-input"></td>
                </tr>
            </tbody>
        </table>

        <div style="width: 87px;height: 50px;margin: 30px auto">
            <div class="layui-btn-container" >
                <a href="/GoTask">
                    <button type="submit" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal"><b>保存</b></button>
                </a>
            </div>
        </div>

        </form>
    </div>

    <div style="width: 90%; margin: auto;">
        <div id="layerDemo" style="margin-bottom: 0;">
            <div class="layui-btn-container">
                <button data-method="notice" class="layui-btn layui-btn-fluid">提交全部数据</button>
            </div>
        </div>
    </div>

</div>

<script src="/static/layui.js" charset="utf-8"></script>
<script>
  //触发事件
layui.use('layer', function(){ //独立版的layer无需执行这一句
  var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

  //触发事件
  var active = {
      notice: function(){
      //示范一个公告层
      layer.open({
        type: 1
        ,title: false //不显示标题栏
        ,closeBtn: false
        ,area: '300px;'
        ,shade: 0.8
        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
        ,btn: ['前往运行', '修改数据']
        ,btnAlign: 'c'
        ,moveType: 1 //拖拽模式，0或者1
        ,content: '<div style="padding: 50px; text-align: center; line-height: 22px; font-size: 25px; background-color: #393D49; color: #fff; font-weight: 300;">提交完成</div>'
        ,success: function(layero){
          var btn = layero.find('.layui-layer-btn');
          btn.find('.layui-layer-btn0').on('click', function(){
            window.location.href = '/GoResult';
          });
        }
      });
    }
  };

  $('#layerDemo .layui-btn').on('click', function(){
    var othis = $(this), method = othis.data('method');
    active[method] ? active[method].call(this, othis) : '';
  });

  $(document).on('keyup', function(e){
    if(e.keyCode === 27){
      layer.close(layer.escIndex ? layer.escIndex[0] : 0);
    }
  });
});

</script>

</body>
</html>
